### Fundamental Dataypes
- int
- float  (int and float are numbers)
- bool
- str
- list
- tuple
- set
- dict

### Classes - custom types
### Specialized Datatypes - module, packages
### None

# NUMBER

In [1]:
round(3.1), abs(-3), bin(5),int('0b101',2),complex(3,4), str(100)

(3, 3, '0b101', 5, (3+4j), '100')

In [2]:
#Operator Precedence  () > ** > */ > +-
# variables camelcase , start with lower and underscore , __var is error

In [3]:
a,b,c=1,2,3
a,b,c

(1, 2, 3)

In [4]:
a= b/2 #this is stmt , whereas b/2 is expression yield value 1

In [5]:
#Argumented assignment operator
a+=2
a

3.0

# STRING

In [6]:
long_string= '''
WOW
O O
---
'''   #to write long sentence use ''' 3 quotes '''
long_string

'\nWOW\nO O\n---\n'

In [7]:
a,b="Hello","Hi"
c=a+' '+b
c

'Hello Hi'

In [8]:
#Escape Sequence
weather = "It\'s mine" #\t , \n
weather

"It's mine"

In [9]:
age=5
name="Priya"
value=  '*' * age
print(f"Hi {5}th Day {len(name)} {value}")
print('hi {}, {}th Day'.format("Johnny",age))
print('hi {1}, {0}th Day'.format("Johnny",age))
print('hi {name}, {age}th Day'.format(name="Johnny",age=len(name)))

Hi 5th Day 5 *****
hi Johnny, 5th Day
hi 5, Johnnyth Day
hi Johnny, 5th Day

In [10]:
name[0],name[0:3],name[0:4:2],name[1:],name[:4],name[::1],name[-1],name[::-1] #[start:stop:stepover]

('P', 'Pri', 'Pi', 'riya', 'Priy', 'Priya', 'a', 'ayirP')

string is immutable name[0]="y" error

In [11]:
name.upper(),name.capitalize(),name.find("ri"),name.replace("ri","ir"),name

('PRIYA', 'Priya', 1, 'Pirya', 'Priya')

# BOOL

In [12]:
bool(1),bool(0),bool('True')

(True, False, True)

In [13]:
date= input("What year were you born?")
date

What year were you born?

''

# LIST

In [14]:
l=[1,2,'Read',True]
l[0]="Happy"
new_l=l
l[2],l[2:],l[0::2],new_l

('Read', ['Read', True], ['Happy', 'Read'], ['Happy', 2, 'Read', True])

In [15]:
new_l[0]=1
l #when new changes new one also changes

[1, 2, 'Read', True]

In [16]:
new_l=l[:] #slicing make copy not affect original
new_l[0]="happy" 
l

[1, 2, 'Read', True]

In [17]:
matrix=[
    [1,2,3],
    [4,5,6],
    [4,5,2]
]
matrix[0][1]

2

In [18]:
len(l)

4

In [19]:
l.append(100),l,l.insert(2,4),l.extend([1,2,9]) #append,insert change array inplace

(None, [1, 2, 4, 'Read', True, 100, 1, 2, 9], None, None)

In [20]:
l.pop(),l,l.pop(0),l.remove(4),l.clear()

(9, [], 1, None, None)

In [21]:
l.index(1),l.index(2,0,2), 1 in l, "hi" in l,"i" in "hi hello",l.count(1)

ValueError: 1 is not in list

In [22]:
a=[1,9,3,4,5]
b=['b','c','o','a']
a.sort(),b.sort(),a,b,sorted(a),a.reverse(),a  #sort() is a method whereas sorted() is a function - sort() inplace , sorted() not modify list

(None,
 None,
 [9, 5, 4, 3, 1],
 ['a', 'b', 'c', 'o'],
 [1, 3, 4, 5, 9],
 None,
 [9, 5, 4, 3, 1])

In [23]:
a.reverse() #inplace
a[::-1] #make a copy

[9, 5, 4, 3, 1]

In [24]:
s='!'
l=list(range(1,10))
new_s=s.join(["Hi","hello","Hey"])
new_s,l

('Hi!hello!Hey', [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
#List unpacking
a,b,c,*remain,d=[1,2,3,4,5,6,7,8]
a,b,c,remain,d

(1, 2, 3, [4, 5, 6, 7], 8)

# NONE

In [26]:
a=None
a

# DICTIONARY

In [27]:
d={'a':[1,2,3],'b':2,'c':'Hello','d':True} #unordered key value pair
l=[d,d] #ordered 0,1
d['a'],l[0]['a']

([1, 2, 3], [1, 2, 3])

In [28]:
d ={123:[1,2], True:'78',123:[3,4],(1,2):"tuple"} #key cannot be list (key is immutable), Key should be unique or else last one overrides
d,d[(1,2)]

({123: [3, 4], True: '78', (1, 2): 'tuple'}, 'tuple')

In [29]:
d.get(123),d.get('123'),d.get('123',9),d

([3, 4], None, 9, {123: [3, 4], True: '78', (1, 2): 'tuple'})

In [30]:
d = dict(name="Priya",dep="CSE")
d1=d.copy()
d,d.items(),'Priya' in d,"Priya" in d.keys(),"Priya" in d.values(),d.clear(),d1,d1.pop('name'),d1.popitem(),d1.update({'yr':89})
#popitem remove random key value pair  #update - update existing key or else add new key

({},
 dict_items([]),
 False,
 False,
 True,
 None,
 {'yr': 89},
 'Priya',
 ('dep', 'CSE'),
 None)

# TUPLES

In [31]:
t=(1,2,3,1)
# t[1]=3 #error immutable - faster than list
t[1],1 in t

(2, True)

In [32]:
x,y,z,*other=(1,2,3,4,5,6)
t[1:2],t[1:],x,y,z,other,t.count(1),t.index(1),len(t)

((2,), (2, 3, 1), 1, 2, 3, [4, 5, 6], 2, 0, 4)

# SET

In [33]:
sets={1,2,3,5,3,2,1}
sets.add(100),sets.add(2)
l=[1,2,5,4,2,5,6]
new_set = sets.copy()
sets,set(l),1 in sets,len(sets),list(sets)  #set not support indexing

({1, 2, 3, 5, 100}, {1, 2, 4, 5, 6}, True, 5, [1, 2, 3, 100, 5])

In [34]:
sets.clear()
sets,new_set

(set(), {1, 2, 3, 5, 100})

- difference()
- discard()
- difference_update()
- intersection()
- isdisjoint()
- issubset()
- union()
- issuperset()

In [35]:
s1={1,2,3,4}
s2={3,4,5,6}    # | union,& intersection
s1.difference(s2),s1.issubset(s2),s1.issuperset(s2), s1.discard(1),s1, s1.difference_update(s2),s1,s1.intersection(s2),s1.union(s2),s1.isdisjoint(s2)

({1, 2}, False, False, None, {2}, None, {2}, set(), {2, 3, 4, 5, 6}, True)

# CONDITIONAL LOGIC

In [36]:
a,b=False,False
if a and not b:
    print("a and b")
elif 'a'<'A':
    print('a')
elif not b:
    print('not b')
else:
    print('b')

not b

In [37]:
#ternary operator - true_stmt if condition else false_stmt
"Hello" if b else "HI", not(True)

('HI', False)

short circuit  false && any === false , true || any == true

In [38]:
print(True == 1)
print('' == 1)
print([] == 1)
print(10 == 10.0)
print([1,2] == [1,2]) 
print([] == [])#  == check for equality

print("\n")
print(True is 1)
print('' is 1)
print([] is 1)
print(10 is 10.0)
print([1,2] is [1,2]) 
print([] is [])# is location where stored is same - list new list create another location
print(True is True)

True
False
False
True
True
True


False
False
False
False
False
False
True

<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:12: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:12: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_21554/493091488.py:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(True is 1)
/tmp/ipykernel_21554/493091488.py:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('' is 1)
/tmp/ipykernel_21554/493091488.py:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print([] is 1)
/tmp/ipykernel_21554/493091488.py:12: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10.0)

# LOOP

In [39]:
for item in "Priya":
    print(item,end="")
for item in (1,2,3,4,5):
    print(item,end="")

Priya12345

In [40]:
#iterable - list,dictionary,tuple,set and string
#iterated = one by one check each item in collection

In [41]:
print(d)
for i in d:
    print(i)
for i in d.items():
    key,value=i;
    print(key,value)
    print(i)
for i in d.values():
    print(i)
for key,value in d.items():
    print(key,value)

{}

In [42]:
for a in range(0,10,2):
    print(a)
for a in range(10,0,-2):
    print(a)
print(list(range(10)))

0
2
4
6
8
10
8
6
4
2
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
for i,char in enumerate("Hello"):
    print(i,char)
for i,char in enumerate(list(range(10))):
    print(i,char)

0 H
1 e
2 l
3 l
4 o
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [44]:
i=5
while i>0:
    print(i)
    i=i-1
else:
    print("Execute if only no break stmt in while")

5
4
3
2
1
Execute if only no break stmt in while

# FUNCTIONS

In [45]:
#parameters
def hello(name,dept):
    print(f'Hello:) {name} {dept}')
    
#positional arguments
hello("Priya","CSE") #call,invoke

#keyword arguments
hello(dept="CSE",name="Sasi")
    
#Default Parameters
def hello(name="Hari",dept="ECE"):
    print(f'Hello:) {name} {dept}')

hello()

Hello:) Priya CSE
Hello:) Sasi CSE
Hello:) Hari ECE

In [46]:
def sums(a,b):
    return a+b
print(sums(1,2))

3

In [49]:
def sums(a,b):
    def diff(a,b):
        return a-b
    return diff

print(sums(4,2)(40,20))

sum_value=sums(4,2)
print(sum_value(40,20))

20
20

In [50]:
#Docstrings
def sums(a,b):
    '''
    This has another function inside
    '''
    def diff(x,y):
        return x-y
    return diff(a,b)

print(sums(4,3))
help(len)
print(sums.__doc__)

1
Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.


    This has another function inside

In [51]:
#functions - list(),print(),max(),min(),input()
def is_even(num):
    return num%2==0
is_even(50)

True

In [52]:
# *args **kwargs (keywords)
def super_func(name,*args,default="Helli",**kwargs):
    total=0
    print(args,*args)
    print(kwargs)
    for i in kwargs.values():
        total+=i
    return sum(args) +total
print(super_func("Priya",1,2,3,4,5,a=5,b=6))

(1, 2, 3, 4, 5) 1 2 3 4 5
{'a': 5, 'b': 6}
26

In [55]:
total=100 #global
def parent():
    total=50 #parent local
    def child():
        total=25 #local
        return total
    return child()
    
if True:
    x=2 #global if there
    
parent()

#local < parent local < global < built-in functions(e.g sum)

25

In [58]:
#Global keyword
total =0
def count():
    # total=0
    global total
    total +=1
    return total
print(count())

1

In [60]:
#dependency injection
total =0
def count(total):
    total +=1
    return total
print(count(count(count(total))))
print(total)

3
0

In [61]:
def outer():
    x="local"
    def inner():
        nonlocal x
        x="nonlocal"
        print("inner:",x)
    inner()
    print("outer:",x)

outer()

inner: nonlocal
outer: nonlocal

- map
- filter
- zip
- reduce

In [62]:
def multiply(item):
    return item*2
print(list(map(multiply,[1,2,3])))

[2, 4, 6]

In [64]:
def odd(item):
    return item%2 != 0
print(list(filter(odd,[1,2,3])))

[1, 3]

In [66]:
l1=[1,2,2]
l2=[1,20,30]
l3=(3,6,9)
print(list(zip(l1,l2)))
print(list(zip(l1,l2,l3)))

[(1, 1), (2, 20), (2, 30)]
[(1, 1, 3), (2, 20, 6), (2, 30, 9)]

In [70]:
from functools import reduce
def accumulator(acc,item):
    print(acc,item)
    return acc+item
    
print(reduce(accumulator,[1,2,3],0))

0 1
1 2
3 3
6

In [77]:
#List comprehension
l=[]
for i in 'hello':
    l.append(i)
print(l)

l=[i for i in 'hello']
l1=[i**2 for i in range(0,5) if i%2==0]
l,l1

['h', 'e', 'l', 'l', 'o']

(['h', 'e', 'l', 'l', 'o'], [0, 4, 16])

In [79]:
#Set comprehension

l={i for i in 'hello'}
l1={i**2 for i in range(0,5) if i%2==0}
l,l1

({'e', 'h', 'l', 'o'}, {0, 4, 16})

In [83]:
#Dictionary Comprehension
d={'a':1,'b':2}
d1={key:value**2 for key,value in d.items() if value%2==0}
d2={num:num*2 for num in [1,2,3]}
d1,d2

({'b': 4}, {1: 2, 2: 4, 3: 6})

In [85]:
l=[1,2,1,4,4,3,9]
duplicates = list({x for x in l if l.count(x)>1})
duplicates

[1, 4]

- module.py
- package
    - module1.py
    - \_\_init\_\_.py
- module2.py

import module

import package.module

from package.module import function

from package.module import function1,function2

from package.module import *